.auth-brand
{
    display: inline-flex;
    text-decoration: none;
}

.auth-brand .brand-mark
{
    width: 3.7rem;
    height: 3.7rem;
    color: #fff;
}

.auth-brand .brand-name
{
    color: #fff;
    font-size: 2.1rem;
}
